.about{
    padding: 1em;
    position: relative;
    background-color: #D6CFBF
   }
   
   .about img{
    height: 90%;
       width: 90%;
       border-radius: 50%
   }
   .about span{
    display: block;
    color: #4D4D53;
    position: absolute;
    left: 115px;
   }
   .about .desc{
    padding: 2em;
    border-left:4px solid #92B2C4;
   }
   .about h3{
    color: #92B2C4;
   }
   .about p{
    line-height:2;
    color:#4D4D53;
   }