a {
    color: #785D44;
}

.page-footer {
    background-color: #785D44;
}

.col-md-2 mb-2 .text-uppercase {
    font-weight: bold;
}

.col-md-2 a{
    color: #D6CFBF;
}

.footer-copyright a{
    color: #D6CFBF;
}

hr {
    border: 1px solid #D6CFBF;
}

.footer-row {
    padding-top: 1em;
}
