.footer {
    background-image: linear-gradient(#C2CEDD, #A89892);
}

a {
    color: #785D44;
}

.page-footer {
    background-color: #FBF2EA;
}

.col-md-2 mb-2 .text-uppercase {
    font-weight: bold;
}

.hr {
    background-color: rgba(77,77,83);
    width: 100%;
    size: 5;
}

.copyright {
    justify-content: center;
    text-align: center;
}
