/*header style*/
.header{
    background-image: url("../assets/khachik-simonian-269941-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
   }

.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.1);
   }

.description {
    margin: auto;
    padding: 2em;
}

.description h1 {
    color: #785D44;
    font-size: 50px;
}

.description h3 {
 color:#785D44;
 font-size: 50px;
 width: 100%;
 line-height: 1.5;
}