.nav-link, .navbar-brand {
    color: #4D4D53;
    cursor: pointer;
}

.navbar {
    background-color: #D6CFBF;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background-color: rgba(244,232,217,0.4);
    color: #4D4D53;
  }

  .navbar-collapse{
    justify-content: flex-end;
   }

   .navbar-toggler{ background: #C5D2DA !important;}

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #92B2C4;
    color: #4D4D53;
  }



