.skills {
    padding-top: 2em;
    position: relative;
    background-color: #D6CFBF;
    background: url(../assets/ballpen-business-cell-phone-opacity.png) no-repeat center center;
    background-size: cover;
    /* opacity: 0.5; */
}

.h1-row h1 {
    color: #785D44;
    font-size: 50px;
}
